{% extends '@biblio/admin.html.twig' %}
{% block body %}

<fieldset class="cadre" style="margin-top:40px;" >

    

    <table class="table" style="margin-left:28%; width:75%;">
        <thead class="thead-dark">
        <h1>Reservations list</h1>
            <tr>
                <th style="width:15%;">Id</th>
                <th style="width:15%">Date</th>
                <th style="width:15%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{% if reservation.date %}{{ reservation.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                <div class="btn-group">
                    <a href="{{ path('reservation_show', { 'id': reservation.id }) }}" class="btn btn-success">show</a>
                    <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}" class="btn btn-warning">edit</a>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('reservation_new') }}" class="btn btn-primary">Create a new reservation</a>
</fieldset>
{% endblock %}
